@import '@/styles/vars';
@import '@/styles/mixins';

.wrapper {
    @include flex($dir: column);
    flex-grow: 1;
    background-image: radial-gradient($primary-1 0%, $bg 65%);

    .form {
        @include flex($wrap: wrap);
        max-width: 400px;
        margin: 0 20px;
        padding: 35px 50px;
        background-image: linear-gradient(45deg, $fg-05, $fg-1);
        border-radius: 4px;

        .title {
            flex-basis: 100%;
            color: $primary;
            text-align: start;
            font-size: 36px;
            font-weight: 600;
        }

        .my-input-wrapper {
            margin-top: 25px;
        }

        .my-button {
            flex-basis: 100%;
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    .wrapper .form {
        flex-grow: 1;
        max-width: none;
        align-content: flex-start;
        margin: 0;

        .my-input-wrapper {
            margin-top: 35px;
        }

        .my-button {
            margin-top: 45px;
        }
    }
}