@mixin flex($x: center, $y: center, $dir: row, $wrap: nowrap, $gap: 0) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    flex-direction: $dir;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin loader() {
    .loader {
        animation: rotate 1s infinite cubic-bezier(0.1, 0, 0.75, 1);
    }

    @keyframes rotate {
        from {
            rotate: 0deg;
        }

        to {
            rotate: 360deg;
        }
    }
}

@mixin tooltip() {
    .tooltip {
        position: absolute;
        top: 120%;
        left: 50%;
        padding: 4px 16px;
        background-color: $fg-1;
        box-shadow: 0 0 5px $fg;
        border-radius: 4px;
        text-align: center;
        text-wrap: nowrap;
        font-size: 12px;
        user-select: none;
        pointer-events: none;
        transform: translateX(-50%);
        backdrop-filter: blur(5px);
        transition: 0.2s;
        opacity: 0;
        z-index: 1;
        visibility: hidden;

        // &::after {
        //     content: '';
        //     position: absolute;
        //     bottom: 100%;
        //     left: 50%;
        //     border-width: 7px;
        //     border-style: solid;
        //     transform: translateX(-50%);
        //     border-color: transparent transparent $fg-1 transparent;
        // }
    }

    &:hover {
        .tooltip {
            opacity: 1;
            visibility: visible;
        }
    }
}

@mixin markdown() {
    .output {
        padding: 8px;
        transition: 0.3s;

        p {
            padding: 8px 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 20px 0;
            font-weight: bold;
        }

        h1 {
            font-size: xx-large;
        }

        h2 {
            font-size: x-large;
        }

        h3 {
            font-size: larger;
        }

        h4 {
            font-size: large;
        }

        h5 {
            font-size: medium;
        }

        h6 {
            font-size: small;
        }

        ul,
        ol {
            margin: 16px 0;
            padding-left: 40px;

            ul,
            ol {
                margin: 0;
            }
        }

        a {
            color: $primary-8;
            transition: 0.2s;

            &:hover {
                color: $primary;
            }
        }

        pre {
            margin: 16px 0;
            padding: 4px 8px;
            background-color: $fg-1;
            border-radius: 4px;
        }

        code {
            font-family: 'Courier New', Courier, monospace;
        }

        blockquote {
            margin: 16px 0;
            padding: 0 16px;
            background-color: $fg-1;
            border-radius: 4px;
        }

        em {
            font-style: italic;
        }

        strong {
            font-weight: 700;
        }

        s {
            text-decoration: line-through;
        }

        img {
            display: block;
            max-width: 85%;
            margin: auto;
        }

        table {
            width: 100%;
            margin: 16px 0;
            border-spacing: 0;

            th,
            td {
                border: 1px solid $primary;
                padding: 2px 8px;
            }

            th {
                font-weight: bold;
            }

            thead {
                background-color: $primary-3;
            }

            tbody {
                tr:nth-child(even) {
                    background-color: $primary-05;
                }
            }
        }
    }

    .v-enter-from,
    .v-leave-to {
        opacity: 0;
    }
}

@mixin my-input($top1: 50%, $top2: 25%, $transform: translateY(-50%)) {
    width: 100%;
    padding: 20px 16px 4px;
    background-color: $fg-01;
    border-bottom: 2px solid $primary-4;
    transition: 0.2s;

    &:hover {
        background-color: $fg-05;
    }

    &:focus {
        background-color: $fg-1;
    }

    &:focus,
    &.not-empty {
        ~.my-label {
            top: $top2;
            color: $primary;
            font-size: 14px;
        }
    }

    &:disabled {
        filter: grayscale(1);

        ~.my-label {
            filter: grayscale(1);
        }
    }

    &.is-error {
        border-bottom: 2px solid $red-4;

        ~.my-label {
            color: $red-7;
        }

        &:focus,
        &.not-empty {
            ~.my-label {
                color: $red;
            }
        }
    }

    &.font-24 {
        font-size: 24px;

        ~.my-label {
            font-size: 24px;
        }

        &:focus,
        &.not-empty {
            ~.my-label {
                font-size: 20px;
            }
        }
    }

    ~.my-label {
        position: absolute;
        top: $top1;
        left: 16px;
        color: $primary-7;
        transform: $transform;
        pointer-events: none;
        transition: 0.2s;
    }
}