@import '@/styles/vars';
@import '@/styles/mixins';

.form {
    flex-grow: 1;

    .title {
        color: $mid-75;
        font-size: 28px;
    }

    .my-input-ext-wrapper {
        margin-top: 15px;
    }

    .container {
        @include flex($gap: 25px);
        margin-top: 25px;

        .buttons {
            @include flex(flex-start, $gap: 30px);
            flex-basis: 80%;
            margin-top: 25px;
        }

        .my-error {
            flex-basis: 80%;
        }

        .label {
            order: -1;
            flex-basis: 20%;
            color: $primary;
            text-align: end;
            pointer-events: none;
            transition: 0.2s;

            &.danger {
                color: $red;
            }
        }

        .buttonCnt {
            flex-basis: 80%;
        }
    }
}

@media screen and (max-width: 650px) {
    .form .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}